api-flow.json
[{"id":"389c2c1.80907d4","type":"tab","label":"API calls","disabled":false,"info":""},{"id":"29f62f2c.6cecb","type":"http in","z":"389c2c1.80907d4","name":"report-defect","url":"report-defect","method":"post","upload":false,"swaggerDoc":"","x":230,"y":60,"wires":[["a7a66d11.f51b6","235a3b84.8261d4"]]},{"id":"edc53dcc.b64a8","type":"inject","z":"389c2c1.80907d4","d":true,"name":"dummy data","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"user\":\"user1\",\"description\":\"phone screen broke\"}","payloadType":"json","x":210,"y":160,"wires":[["235a3b84.8261d4"]]},{"id":"94b89bf9.ff95a8","type":"http response","z":"389c2c1.80907d4","name":"","statusCode":"","headers":{},"x":680,"y":140,"wires":[]},{"id":"a7a66d11.f51b6","type":"debug","z":"389c2c1.80907d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":200,"wires":[]},{"id":"3027063c.e8308a","type":"http in","z":"389c2c1.80907d4","name":"Get report list","url":"/reports","method":"get","upload":false,"swaggerDoc":"","x":210,"y":360,"wires":[["aaa98f0d.5bf1f"]]},{"id":"4aa1945c.df429c","type":"http response","z":"389c2c1.80907d4","name":"Return reports","statusCode":"","headers":{},"x":940,"y":300,"wires":[]},{"id":"c4d6abbc.8797c8","type":"debug","z":"389c2c1.80907d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":480,"wires":[]},{"id":"c918c391.9f2b5","type":"change","z":"389c2c1.80907d4","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":320,"wires":[["4aa1945c.df429c"]]},{"id":"7012498a.5b4fb8","type":"inject","z":"389c2c1.80907d4","name":"Repair list","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"_id\":\"60647330ce69d113583d4bba\",\"name\":\"Mcdonald Wise\",\"gender\":\"male\",\"company\":\"INSOURCE\",\"email\":\"mcdonaldwise@insource.com\",\"phone\":\"+1 (924) 419-3386\",\"address\":\"529 Morton Street, Sparkill, Guam, 6173\",\"about\":\"Deserunt culpa sit nisi in ut ea ad tempor aliquip. Occaecat reprehenderit do tempor deserunt ipsum deserunt sit qui. Commodo labore est enim mollit laboris id. Cupidatat qui anim Lorem veniam irure anim aliquip non exercitation est excepteur commodo ipsum esse.\\r\\n\",\"latitude\":42.726848,\"longitude\":-90.35775,\"tags\":[\"in\",\"tempor\",\"aute\",\"occaecat\",\"aliqua\",\"nostrud\",\"ad\"]}","payloadType":"json","x":177,"y":1416,"wires":[["74d371b9.56394"]]},{"id":"961928c6.31f108","type":"http in","z":"389c2c1.80907d4","name":"","url":"/technicians","method":"get","upload":false,"swaggerDoc":"","x":243,"y":1526,"wires":[["58dd869d.d46d28"]]},{"id":"eb3283a6.46d0c","type":"http response","z":"389c2c1.80907d4","name":"return tech list","statusCode":"","headers":{},"x":923,"y":1466,"wires":[]},{"id":"fe3a9b2.a6ef468","type":"change","z":"389c2c1.80907d4","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":713,"y":1526,"wires":[["eb3283a6.46d0c"]]},{"id":"decc7940.3e1a58","type":"catch","z":"389c2c1.80907d4","name":"","scope":null,"uncaught":true,"x":164,"y":1638,"wires":[["51e18dff.4adbd4"]]},{"id":"51e18dff.4adbd4","type":"debug","z":"389c2c1.80907d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":354,"y":1638,"wires":[]},{"id":"235a3b84.8261d4","type":"cloudantplus out","z":"389c2c1.80907d4","name":"Store in DB","cloudant":"","database":"reports","service":"node-red-tech-repair-cloudant-1617192697715-73720","payonly":true,"operation":"insert","x":463.5,"y":115,"wires":[["94b89bf9.ff95a8"]],"l":false},{"id":"aaa98f0d.5bf1f","type":"cloudantplus in","z":"389c2c1.80907d4","name":"Get all reports","cloudant":"","database":"reports","service":"node-red-tech-repair-cloudant-1617192697715-73720","search":"_all_","design":"","index":"","x":470.5,"y":375,"wires":[["c918c391.9f2b5","c4d6abbc.8797c8"]],"l":false},{"id":"74d371b9.56394","type":"cloudantplus out","z":"389c2c1.80907d4","name":"Store technicians","cloudant":"","database":"techs","service":"node-red-tech-repair-cloudant-1617192697715-73720","payonly":true,"operation":"insert","x":342.5,"y":1430,"wires":[[]],"l":false},{"id":"58dd869d.d46d28","type":"cloudantplus in","z":"389c2c1.80907d4","name":"Return tech list","cloudant":"","database":"techs","service":"node-red-tech-repair-cloudant-1617192697715-73720","search":"_all_","design":"","index":"","x":482.5,"y":1448,"wires":[["fe3a9b2.a6ef468"]],"l":false},{"id":"ca6f76fc.3b4508","type":"http in","z":"389c2c1.80907d4","name":"Get individual report","url":"/report","method":"post","upload":false,"swaggerDoc":"","x":166,"y":589,"wires":[["ee5ec1b7.30925","fd117f4a.5c9ac"]]},{"id":"82c6d3ff.fb106","type":"http response","z":"389c2c1.80907d4","name":"","statusCode":"","headers":{},"x":915,"y":611,"wires":[]},{"id":"ee5ec1b7.30925","type":"debug","z":"389c2c1.80907d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":458,"y":696,"wires":[]},{"id":"fd117f4a.5c9ac","type":"cloudantplus in","z":"389c2c1.80907d4","name":"Return case report","cloudant":"","database":"reports","service":"node-red-tech-repair-cloudant-1617192697715-73720","search":"_id_","design":"","index":"","x":432,"y":592,"wires":[["b73b8fb.de4587","95bc6499.4fd748"]],"l":false},{"id":"b73b8fb.de4587","type":"change","z":"389c2c1.80907d4","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":623,"y":591,"wires":[["82c6d3ff.fb106"]]},{"id":"95bc6499.4fd748","type":"debug","z":"389c2c1.80907d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":642,"y":658,"wires":[]},{"id":"475e39ac.21b698","type":"http in","z":"389c2c1.80907d4","name":"Suggest","url":"/suggest","method":"post","upload":false,"swaggerDoc":"","x":161,"y":874,"wires":[["f498cfa5.2abe6","60b4ee3c.33aec"]]},{"id":"aff159d1.e6c308","type":"inject","z":"389c2c1.80907d4","d":true,"name":"dummy data","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"user\":\"user1\",\"description\":\"phone screen broke\"}","payloadType":"json","x":191,"y":962,"wires":[["60b4ee3c.33aec"]]},{"id":"89e62ec3.088f5","type":"http response","z":"389c2c1.80907d4","name":"","statusCode":"","headers":{},"x":661,"y":942,"wires":[]},{"id":"f498cfa5.2abe6","type":"debug","z":"389c2c1.80907d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":441,"y":1002,"wires":[]},{"id":"60b4ee3c.33aec","type":"cloudantplus out","z":"389c2c1.80907d4","name":"Store in DB","cloudant":"","database":"suggests","service":"node-red-tech-repair-cloudant-1617192697715-73720","payonly":true,"operation":"insert","x":444.5,"y":917,"wires":[["89e62ec3.088f5"]],"l":false},{"id":"d7eab580.740888","type":"http in","z":"389c2c1.80907d4","name":"Get suggestion list","url":"/get-suggests","method":"post","upload":false,"swaggerDoc":"","x":178,"y":1164,"wires":[["ec9667c2.23caa8","beb7c0b7.4c85f"]]},{"id":"3a1de898.d67dd8","type":"http response","z":"389c2c1.80907d4","name":"Return suggests","statusCode":"","headers":{},"x":888,"y":1104,"wires":[]},{"id":"1bd199ed.319266","type":"debug","z":"389c2c1.80907d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":858,"y":1284,"wires":[]},{"id":"164fc86f.f10428","type":"change","z":"389c2c1.80907d4","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":658,"y":1124,"wires":[["3a1de898.d67dd8"]]},{"id":"ec9667c2.23caa8","type":"cloudantplus in","z":"389c2c1.80907d4","name":"Get all reports","cloudant":"","database":"suggests","service":"node-red-tech-repair-cloudant-1617192697715-73720","search":"_all_","design":"","index":"","x":376.5,"y":1180,"wires":[["1bd199ed.319266","6c3089fb.37fa48","164fc86f.f10428"]],"l":false},{"id":"6c3089fb.37fa48","type":"function","z":"389c2c1.80907d4","d":true,"name":"","func":"msg.payload = msg.payload.filter(obj => {\n    return obj.case_id === msg.payload._id\n})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":499.5,"y":1140,"wires":[["164fc86f.f10428"]]},{"id":"beb7c0b7.4c85f","type":"debug","z":"389c2c1.80907d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":394.5,"y":1271,"wires":[]}]
