ui.json
[{"id":"56624b14.e3af34","type":"tab","label":"Report UI","disabled":false,"info":""},{"id":"15f99d32.bf96e3","type":"ui_form","z":"56624b14.e3af34","name":"report incident","label":"","group":"12913ff1.db5ff","order":1,"width":0,"height":0,"options":[{"label":"Username","value":"username","type":"text","required":true,"rows":null},{"label":"Description","value":"description","type":"text","required":true,"rows":null}],"formValue":{"username":"","description":""},"payload":"","submit":"Submit Report","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":187.5,"y":72,"wires":[["e5bc12eb.f64be"]]},{"id":"e5bc12eb.f64be","type":"http request","z":"56624b14.e3af34","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://node-red-tech-repair.eu-gb.mybluemix.net/report-defect","tls":"","persist":false,"proxy":"","authType":"","x":495.5,"y":80,"wires":[[]]},{"id":"7ca889ff.3d9ab8","type":"http request","z":"56624b14.e3af34","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://node-red-tech-repair.eu-gb.mybluemix.net/reports","tls":"","persist":false,"proxy":"","authType":"","x":413.5,"y":253,"wires":[["9ea33ce.6d1f7c","eee7c9cf.bdd898"]]},{"id":"7a203f0f.04038","type":"inject","z":"56624b14.e3af34","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":143.5,"y":242,"wires":[["7ca889ff.3d9ab8"]]},{"id":"eee7c9cf.bdd898","type":"ui_table","z":"56624b14.e3af34","group":"da9f543d.f36f98","name":"Reported incidents","order":1,"width":"0","height":"0","columns":[{"field":"username","title":"Name","width":"20%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"description","title":"Description","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":555.5,"y":431,"wires":[["b259022a.2673","459102aa.0f5b5c","6e736714.54ee38"]]},{"id":"9ea33ce.6d1f7c","type":"debug","z":"56624b14.e3af34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":727.5,"y":324,"wires":[]},{"id":"db5b5c5b.a24c8","type":"http request","z":"56624b14.e3af34","name":"","method":"POST","ret":"obj","paytoqs":"body","url":"https://node-red-tech-repair.eu-gb.mybluemix.net/report","tls":"","persist":false,"proxy":"","authType":"","x":345.5,"y":545,"wires":[["72eb427.f6451bc","eebd3b8c.555638"]]},{"id":"72eb427.f6451bc","type":"ui_text","z":"56624b14.e3af34","group":"5847cfe5.12dc","order":1,"width":0,"height":0,"name":"","label":"Details","format":"{{msg.payload.description}}","layout":"col-center","x":621.5,"y":577,"wires":[]},{"id":"eebd3b8c.555638","type":"debug","z":"56624b14.e3af34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":528.5,"y":652,"wires":[]},{"id":"b259022a.2673","type":"debug","z":"56624b14.e3af34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":838.5,"y":440,"wires":[]},{"id":"459102aa.0f5b5c","type":"change","z":"56624b14.e3af34","name":"","rules":[{"t":"delete","p":"payload.id","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":466.5,"y":485,"wires":[["db5b5c5b.a24c8"]]},{"id":"4cf7d5c7.a6956c","type":"ui_ui_control","z":"56624b14.e3af34","name":"","events":"change","x":488.5,"y":773,"wires":[[]]},{"id":"6e736714.54ee38","type":"change","z":"56624b14.e3af34","name":"","rules":[{"t":"set","p":"payload.tab","pt":"msg","to":"Respond","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":476.5,"y":708,"wires":[["4cf7d5c7.a6956c"]]},{"id":"d9685439.858938","type":"ui_form","z":"56624b14.e3af34","name":"","label":"","group":"5847cfe5.12dc","order":3,"width":0,"height":0,"options":[{"label":"Suggestion","value":"reply","type":"text","required":true,"rows":null},{"label":"Price","value":"quote","type":"number","required":false,"rows":null}],"formValue":{"reply":"","quote":""},"payload":"","submit":"Submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":270.5,"y":950,"wires":[["5798db97.5fddc4","7fedfa4e.298164"]]},{"id":"a0762f3.2faecd","type":"ui_table","z":"56624b14.e3af34","group":"5847cfe5.12dc","name":"","order":2,"width":0,"height":0,"columns":[{"field":"reply","title":"Suggestion","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"quote","title":"Price ($)","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":462.5,"y":856,"wires":[]},{"id":"5798db97.5fddc4","type":"http request","z":"56624b14.e3af34","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://node-red-tech-repair.eu-gb.mybluemix.net/suggest","tls":"","persist":false,"proxy":"","authType":"","x":863.5,"y":915,"wires":[[]]},{"id":"88bf52e9.7e5bd","type":"http request","z":"56624b14.e3af34","name":"","method":"POST","ret":"obj","paytoqs":"body","url":"https://node-red-tech-repair.eu-gb.mybluemix.net/get-suggests","tls":"","persist":false,"proxy":"","authType":"","x":264.5,"y":841,"wires":[["a0762f3.2faecd","185f1c5b.6cfed4"]]},{"id":"7fedfa4e.298164","type":"debug","z":"56624b14.e3af34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":583.5,"y":1027,"wires":[]},{"id":"185f1c5b.6cfed4","type":"debug","z":"56624b14.e3af34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":233.5,"y":658,"wires":[]},{"id":"4066ba56.212454","type":"inject","z":"56624b14.e3af34","name":"","props":[{"p":"payload.case_id","v":"_id","vt":"msg"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":79,"y":754,"wires":[["88bf52e9.7e5bd"]]},{"id":"12913ff1.db5ff","type":"ui_group","name":"Report an Incident","tab":"949dbfe3.8cd7b","order":1,"disp":true,"width":"6","collapse":true},{"id":"da9f543d.f36f98","type":"ui_group","name":"Case list","tab":"3a8a56c4.3f365a","order":2,"disp":true,"width":"12","collapse":true},{"id":"5847cfe5.12dc","type":"ui_group","name":"Case","tab":"1bf4cdf2.d562e2","order":2,"disp":true,"width":"12","collapse":true},{"id":"949dbfe3.8cd7b","type":"ui_tab","name":"Report","icon":"dashboard","disabled":false,"hidden":false},{"id":"3a8a56c4.3f365a","type":"ui_tab","name":"List of incidents","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"1bf4cdf2.d562e2","type":"ui_tab","name":"Respond","icon":"dashboard","order":3,"disabled":false,"hidden":false}]
